/* -------------------------------------------------------------
        Estilo da página de destino de formulário
 --------------------------------------------------------------*/

.title-content-page h1 {
    text-align: center;
    vertical-align: center;
}

#navbarSite2 li:hover {
    background-color: rgba(0, 0, 255, 0.4);
}

#navbarSite2 li a:hover {
    font-weight: 600;
}

/* ---------------------------------------------------------------------
    RWD: Responsive Web Design - Media Queries
    The indicator of time as TIME
 -----------------------------------------------------------------------*/

@media only screen and (max-width: 800px) {
    a#time {
        display: none;
    }
}
